.Chat-main
  .group-info
    .group-info__name-box
      .group-name
        techcamp
      .member-name
        Member : takumi
    = link_to "#", class: "group-info__edit-btn" do
      Edit
  .message-list
    .message-list__info
      .member-name
        takumi
      .timestamp
        2019/11/20(Wed) 17:43:01
    .message-list__content
      おはよう!
    .message-list__info
      .member-name
        takumi
      .timestamp
        2019/11/20(Wed) 17:43:02
    .message-list__content
      今日は夜から雨
  = form_with url: "#", method: :post, local: true do |form|
    .message-form
      .input-box
        = form.text_field :text, placeholder: "type a message", class: "input-box__text"
        = form.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = form.file_field :image
      = form.submit "Send", class: "send-btn"