.ChatMain
  .GroupInfo
    .GroupInfo__nameBox
      .GroupName
        = @group.name
      .MemberName
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "GroupInfo__editBtn" do
      Edit
  .MessageList
    = render @messages
  .MessageForm
    = form_with model: [@group, @message], html: {class: "MessageForm__formWith"}, local: true do |form|
      .InputBox
        = form.text_field :content, placeholder: "type a message", class: "InputBox__text"
        = form.label :image, class: "InputBox__image" do
          = icon('fas', 'image', class: 'Image__icon')
          = form.file_field :image, class: 'Hidden'
      = form.submit "Send", class: "SendBtn"