.Chat-main
  .group-info
    .group-info__name-box
      .group-name
        = @group.name
      .member-name
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "group-info__edit-btn" do
      Edit
  .message-list
    = render @messages
  .message-form
    = form_with model: [@group, @message], html: {class: "message-form__form-with"}, local: true do |form|
      .input-box
        = form.text_field :content, placeholder: "type a message", class: "input-box__text"
        = form.label :image, class: "input-box__image" do
          = icon('fas', 'image', class: 'image__icon')
          = form.file_field :image, class: 'Hidden'
      = form.submit "Send", class: "send-btn"