.SideBar
  .SideBar__userName
    .TopItems
      .TopItems__name
        = current_user.name
      .TopItems__icons
        = link_to new_group_path(current_user), class: "IconBtn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "IconBtn" do
          = icon('fas', 'cog')
  .SideBar__groupList
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message