.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path(current_user), class: "icon-btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "icon-btn" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message